@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.note {
	cursor: pointer;
	user-select: none;

	display: flex;
	align-items: center;
	gap: rem(30);

	padding: rem(23) rem(30);
	border-radius: rem(15);
	background-color: var(--element-color);

	transition: background-color var(--transition-duration);

	@media (hover: hover) {
		&:hover {
			background-color: var(--element-hover-color);
		}
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		background-color: var(--element-hover-color);
	}

	// .note__text

	&__text {
		flex: 1;

		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: rem(5) rem(10);
	}

	// .note__title

	&__title {
		grid-column: 1 / -1;
		@extend %font-big;
	}

	// .note__date

	&__date {
		@extend %font-small;
	}

	// .note__pin

	&__pin {
		width: rem(20);
		height: rem(20);
	}

	// .note__select-checkbox

	&__select-checkbox {
	}
}
