@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.task {
	cursor: pointer;
	user-select: none;

	display: flex;
	align-items: center;
	gap: rem(30);

	padding: rem(24) rem(30);
	border-radius: rem(15);
	background-color: var(--element-color);

	transition: background-color var(--transition-duration);

	@media (hover: hover) {
		&:hover {
			background-color: var(--element-hover-color);
		}
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		background-color: var(--element-hover-color);
	}

	// .task__complete-checkbox

	&__complete-checkbox {
	}

	// .task__content

	&__content {
	}

	// .task__text

	&__text {
		@extend %font-big;
		flex: 1;
	}

	// .task__pin

	&__pin {
		width: rem(20);
		height: rem(20);
	}

	// .task__select-checkbox

	&__select-checkbox {
	}
}
