@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.task {
	cursor: pointer;
	user-select: none;

	display: flex;
	align-items: center;
	gap: rem(30);

	padding: rem(24) rem(30);
	border-radius: rem(15);
	background-color: var(--element-color);

	transition: background-color var(--transition-duration);

	@media (hover: hover) {
		&:hover {
			background-color: var(--element-hover-color);
		}
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		background-color: var(--element-hover-color);
	}

	// .task__complete-checkbox

	&__complete-checkbox {
	}

	// .task__content

	&__content {
	}

	// .task__text

	&__text {
		flex: 1;

		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: rem(5) rem(10);
	}

	// .task__title

	&__title {
		grid-column: 1 / -1;
		@extend %font-big;

		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
	}

	// .task__date

	&__date {
		@extend %font-small;
	}

	// .task__pin

	&__pin {
		width: rem(20);
		height: rem(20);

		@media screen and (max-width: em(768)) {
			width: rem(15);
			height: rem(15);
		}
	}

	// .task__select-checkbox

	&__select-checkbox {
	}

	@media screen and (max-width: em(1200)) {
		gap: rem(20);

		padding: rem(20) rem(24);
		border-radius: rem(10);
	}

	@media screen and (max-width: em(1024)) {
		padding: rem(16) rem(20);
	}

	@media screen and (max-width: em(768)) {
		gap: rem(15);

		padding: rem(14) rem(16);
	}
}
