@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.custom-select-wrapper {
	--select-color: var(--element-color);
	width: 100%;
	position: relative;
}

.custom-select {
	width: 100%;
	border: rem(4) solid var(--text-color);
	border-radius: rem(15);
	padding: rem(24) rem(30);

	background-color: var(--select-color);
	color: var(--text-color);
	text-align: left;

	@extend %font-big;

	transition: background-color var(--transition-duration);

	&:focus {
		outline: none;
	}

	&:focus-visible {
		--select-color: var(--element-active-color);
	}

	@media (hover: hover) {
		&:hover {
			--select-color: var(--element-hover-color);
		}
	}

	&__button {
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);

		& > span {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		@media screen and (max-width: em(480)) {
			gap: rem(10);
		}
	}

	&__icon {
		transform: rotate(0);
		transition: transform var(--transition-duration);

		&_open {
			transform: rotate(180deg);
		}

		@media screen and (max-width: em(768)) {
			max-width: rem(40);
		}

		@media screen and (max-width: em(480)) {
			max-width: rem(30);
		}
	}

	&__listbox-wrapper {
		display: grid;
		max-height: rem(410);
		overflow: auto;
		opacity: 0;

		border-radius: rem(15);
		border: rem(4) solid transparent;
		background-color: var(--select-color);

		box-shadow: 0 0 rem(10) transparent;

		transition: opacity var(--transition-duration),
			border-color var(--transition-duration),
			box-shadow var(--transition-duration);

		&_open {
			opacity: 1;
			border-color: var(--text-color);
			box-shadow: 0 0 rem(10) var(--shadow-color);
		}

		@media screen and (max-height: em(860)) {
			max-height: rem(290);
		}

		@media screen and (max-height: em(667)) {
			max-height: rem(220);
		}

		@media screen and (max-height: em(530)) {
			max-height: rem(160);
		}
	}

	&__listbox {
	}

	&__popup {
		z-index: 9999;
		width: 100%;
		margin-top: rem(10);
	}

	&__option {
		cursor: pointer;

		padding: rem(24) rem(30);
		background-color: var(--select-color);
		@extend %font-big;

		transition: background-color var(--transition-duration);

		&:first-child {
			border-radius: rem(11) rem(11) 0 0;
		}

		&:last-child {
			border-radius: 0 0 rem(11) rem(11);
		}

		&:focus {
			outline: none;
		}

		&[class*='--selected'] {
			--select-color: var(--element-selected-color);
		}

		@media (hover: hover) {
			&:hover {
				--select-color: var(--element-hover-color);
			}
		}

		&:focus-visible {
			--select-color: var(--element-active-color);
		}

		@media screen and (max-width: em(1200)) {
			padding: rem(20) rem(24);
		}

		@media screen and (max-width: em(480)) {
			padding: rem(14) rem(16);
		}
	}

	@media screen and (max-width: em(1200)) {
		padding: rem(20) rem(24);
	}

	@media screen and (max-width: em(480)) {
		padding: rem(14) rem(16);
	}
}
