@use '/src/styles/functions' as *;
@use '/src/styles/general' as *;

.input {
	width: 100%;

	border: rem(4) solid var(--text-color);
	border-radius: rem(15);
	padding: rem(18) rem(28);

	@extend %font-big;
	color: inherit;
	caret-color: currentColor;

	background-color: var(--element-color);

	transition: background-color var(--transition-duration);

	&::placeholder {
		color: currentColor;
	}

	&:focus {
		outline: none;
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--element-hover-color);
		}
	}

	&:focus-visible {
		background-color: var(--element-active-color);
	}
}
