@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.context-menu-backdrop {
	position: fixed;
	inset: 0;
}

.context-menu {
	position: fixed;

	display: inline-grid;
	gap: rem(5);

	border-radius: rem(15);

	padding: rem(5);
	max-height: rem(450);
	overflow-y: auto;
	scroll-behavior: smooth;
	overscroll-behavior: none;

	background-color: var(--context-menu-bg-color);

	// .context-menu__item

	&__item {
		user-select: none;
	}

	// .context-menu__item-button

	&__item-button {
		text-align: left;
		width: 100%;
	}
}
