@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.notes {
	position: relative;

	height: 100%;
	overflow: hidden;

	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: rem(20);

	&__folders {
		position: relative;
		overflow: hidden;

		display: flex;
		column-gap: rem(10);
	}

	&__edit-folders {
		flex-shrink: 0;
		max-height: rem(60);

		border-radius: rem(15);
		padding: rem(10);
		background-color: var(--element-color);

		transition: background-color var(--transition-duration);

		& svg {
			stroke: var(--primary-color);
			width: 100%;
			height: 100%;

			transition: stroke var(--transition-duration);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			background-color: var(--element-hover-color);

			& svg {
				--color: var(--primary-hover-color);
			}
		}

		@media (hover: hover) {
			&:hover {
				background-color: var(--element-hover-color);

				& svg {
					--color: var(--primary-hover-color);
				}
			}
		}

		&:active {
			background-color: var(--element-active-color);

			& svg {
				--color: var(--primary-active-color);
			}
		}

		&_disabled {
			user-select: none;
			pointer-events: none;
			background-color: var(--element-disabled-color);

			& svg {
				stroke: var(--primary-disabled-color);
			}
		}

		@media screen and (max-width: em(1200)) {
			max-height: rem(50);
		}

		@media screen and (max-width: em(1024)) {
			max-height: rem(45);
			padding: rem(6);
			border-radius: rem(10);
		}

		@media screen and (max-width: em(768)) {
			max-height: rem(35);
			border-radius: rem(8);
		}
	}

	&__folders-list {
		overflow-x: auto;

		flex-grow: 1;
		display: flex;
		column-gap: rem(10);
		border-radius: rem(10);

		&::-webkit-scrollbar {
			display: none;
		}

		& > * {
			flex-shrink: 0;
			width: max-content;
		}

		@media screen and (max-width: em(768)) {
			border-radius: rem(8);
		}
	}

	&__content {
		@extend %root-outlet-content;
	}

	&__sidebar {
		@extend %sidebar;
	}

	&__buttons {
		@extend %primary-circle-button;
	}

	&__add-button,
	&__remove-button {
		border: rem(4) solid #8a6500;
	}

	@media screen and (max-width: em(1024)) {
		row-gap: rem(15);
	}
}
