@use '/src/styles/functions' as *;
@use '/src/styles/general' as *;

.task-upsert {
	position: fixed;
	z-index: 3;
	inset: 0;

	background-color: rgb(0, 0, 0, 0.4);

	&__input {
		min-height: rem(60);

		@media screen and (max-width: em(570)) {
			min-height: rem(70);
			grid-column: 1 / -1;
		}
	}

	&__content {
		position: absolute;
		inset: auto 0 0;

		padding: 0 rem(40) rem(40);

		display: grid;
		grid-template-columns: 1fr repeat(2, min-content);
		align-items: center;
		gap: rem(20);

		@media screen and (max-width: em(1024)) {
			padding: 0 rem(30) rem(30);
		}

		@media screen and (max-width: em(768)) {
			padding: 0 rem(20) rem(20);
		}

		@media screen and (max-width: em(570)) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: em(480)) {
			gap: rem(15);
			padding: 0 rem(15) rem(15);
		}
	}

	&__button {
		border: rem(4) solid #8a6500;
		&:last-child {
			justify-self: end;
		}
	}
}
