@use '/src/styles/functions' as *;
@use '/src/styles/general' as *;

.modal-form {
	display: grid;
	gap: rem(20);
}

.modal-buttons {
	justify-self: end;

	display: flex;
	gap: rem(20);

	@media screen and (max-width: em(480)) {
		justify-self: stretch;
		gap: rem(15);
	}

	&__button {
		min-height: rem(40);
		box-shadow: 0 0 rem(10) 0 var(--shadow-color);

		@media screen and (max-width: em(480)) {
			flex-basis: 100%;
		}
	}
}
