@use '/src//styles/functions' as *;
@use '/src//styles/general' as *;

.folders-list {
	border-radius: rem(15);
	overflow-y: auto;
	overflow-x: hidden;

	flex-grow: 1;

	display: grid;
	grid-auto-rows: min-content;
	row-gap: rem(20);

	@media screen and (max-width: em(1200)) {
		border-radius: rem(10);
	}

	@media screen and (max-width: em(1024)) {
		row-gap: rem(15);
	}
}
