@use '/src//styles/functions' as *;
@use '/src//styles/general' as *;

.settings-list {
	border-radius: rem(15);
	overflow-y: auto;
	overflow-x: hidden;

	flex-grow: 1;

	display: grid;
	grid-auto-rows: min-content;

	&__separator {
		margin-block: rem(35);
		height: rem(6);
		background-color: var(--element-color);

		border-radius: rem(4);

		@media screen and (max-width: em(1024)) {
			margin-block: rem(35) 0;
		}

		@media screen and (max-width: em(480)) {
			margin-block: rem(15) 0;
		}
	}

	@media screen and (max-width: em(480)) {
		row-gap: rem(15);
	}
}
