@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.folder {
	user-select: none;

	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: rem(10);
	@extend %button;

	&_disabled {
		user-select: none;
		pointer-events: none;
		background-color: var(--element-disabled-color);
		color: var(--text-disabled-color);
	}

	&_active {
		background-color: var(--element-active-color);
		color: var(--text-color);
	}

	&__pin {
		width: rem(20);
		height: rem(20);
	}

	&__text {
		@extend %font-medium;
	}
}
