@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.icon-nav-link {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: rem(10);
	border: none;

	background-color: var(--element-color);

	transition: background-color var(--transition-duration);

	& svg {
		--color: var(--primary-color);
	}

	&_fill svg {
		fill: var(--color);
		transition: fill var(--transition-duration);
	}

	&_stroke svg {
		stroke: var(--color);
		transition: stroke var(--transition-duration);
	}

	&_fill-and-stroke svg {
		fill: var(--color);
		stroke: var(--color);
		transition: fill var(--transition-duration),
			stroke var(--transition-duration);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--element-hover-color);

			& svg {
				--color: var(--primary-hover-color);
			}
		}
	}

	&_disabled {
		cursor: auto;
		user-select: none;
		pointer-events: none;

		background-color: var(--element-disabled-color);

		& svg {
			--color: var(--primary-disabled-color);
		}
	}

	&:active,
	&_active {
		background-color: var(--element-active-color);

		& svg {
			--color: var(--primary-active-color);
		}
	}

	// icon-button_polygon

	&_polygon {
		width: rem(105);
		height: rem(105);

		border-radius: rem(15);
	}

	// icon-button_circle

	&_circle {
		width: rem(150);
		height: rem(150);

		border-radius: 50%;
	}

	& svg {
		max-width: 100%;
	}
}
