@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.icon-nav-link {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: rem(10);
	border: none;

	background-color: var(--element-color);

	transition: background-color var(--transition-duration);

	& svg {
		max-height: 100%;
		--color: var(--primary-color);
	}

	&_fill svg {
		fill: var(--color);
		transition: fill var(--transition-duration);
	}

	&_stroke svg {
		stroke: var(--color);
		transition: stroke var(--transition-duration);
	}

	&_fill-and-stroke svg {
		fill: var(--color);
		stroke: var(--color);
		transition: fill var(--transition-duration),
			stroke var(--transition-duration);
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		background-color: var(--element-hover-color);

		& svg {
			--color: var(--primary-hover-color);
		}
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--element-hover-color);

			& svg {
				--color: var(--primary-hover-color);
			}
		}
	}

	&_disabled {
		cursor: auto;
		user-select: none;
		pointer-events: none;

		background-color: var(--element-disabled-color);

		& svg {
			--color: var(--primary-disabled-color);
		}
	}

	&:active,
	&_active {
		background-color: var(--element-active-color);

		& svg {
			--color: var(--primary-active-color);
		}
	}

	// icon-button_polygon

	&_polygon {
		width: rem(105);
		height: rem(105);

		border-radius: rem(15);

		@media screen and (max-width: em(1200)) {
			width: rem(85);
			height: rem(85);

			padding: rem(12);
		}

		@media screen and (max-width: em(1024)) {
			width: rem(75);
			height: rem(75);

			border-radius: rem(10);
		}

		@media screen and (max-width: em(768)) {
			width: rem(55);
			height: rem(55);

			padding: rem(10);
		}
	}

	// icon-button_circle

	&_circle {
		width: rem(150);
		height: rem(150);

		border-radius: 50%;

		@media screen and (max-width: em(1200)) {
			width: rem(120);
			height: rem(120);

			padding: rem(30);
		}

		@media screen and (max-width: em(1024)) {
			width: rem(100);
			height: rem(100);

			padding: rem(25);
		}

		@media screen and (max-width: em(768)) {
			width: rem(80);
			height: rem(80);

			padding: rem(20);
		}
	}

	& svg {
		max-width: 100%;
	}
}
