@use '../../styles/functions' as *;

.checkbox {
	&_square .custom-checkbox {
		border-radius: rem(15);

		&::before {
			border-radius: rem(5);
		}

		@media screen and (max-width: em(768)) {
			border-radius: rem(10);
		}
	}

	&_circle .custom-checkbox,
	&_circle .custom-checkbox::before {
		border-radius: 50%;
	}
}

.native-checkbox {
	position: fixed;
	appearance: none;

	&:checked + .custom-checkbox::before {
		transform: scale(1);
	}

	&:focus-visible + .custom-checkbox {
		background-color: var(--primary-hover-color);
	}

	&:active + .custom-checkbox {
		background-color: var(--primary-active-color);
	}
}

.custom-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;

	width: rem(58);
	height: rem(58);

	background-color: var(--primary-color);

	transition: background-color var(--transition-duration);

	&::before {
		content: '';
		grid-column: 1 / -1;
		grid-row: 1 / -1;

		width: rem(34);
		height: rem(34);

		background-color: #000000;

		transform: scale(0);
		transition: transform var(--transition-duration);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--primary-hover-color);
		}
	}

	&:active {
		background-color: var(--primary-active-color);
	}

	@media screen and (max-width: em(1200)) {
		width: rem(45);
		height: rem(45);

		&::before {
			width: rem(28);
			height: rem(28);
		}
	}

	@media screen and (max-width: em(1024)) {
		width: rem(40);
		height: rem(40);

		&::before {
			width: rem(23);
			height: rem(23);
		}
	}

	@media screen and (max-width: em(768)) {
		width: rem(35);
		height: rem(35);

		&::before {
			width: rem(21);
			height: rem(21);
		}
	}
}
