@use '/src/styles/functions' as *;
@use '/src/styles/general' as *;

.tasks-list {
	display: grid;
	grid-auto-rows: min-content;
	row-gap: rem(20);

	&:not(:last-child) {
		margin-bottom: rem(20);
	}

	&__title {
		@extend %font-big;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	@media screen and (max-width: em(1024)) {
		row-gap: rem(15);
	}
}
