@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.tasks {
	position: relative;

	height: 100%;
	overflow: hidden;

	display: grid;
	grid-template-rows: auto 1fr;

	&__header {
		display: flex;
		align-items: center;
		column-gap: rem(40);
	}

	&__title {
		flex-grow: 1;
		@extend %font-huge;
	}

	&__content {
		@extend %root-outlet-content;
	}

	&__sidebar {
		@extend %sidebar;
	}

	&__list-wrapper {
		scroll-behavior: smooth;

		border-radius: rem(15);
		overflow-y: auto;
		overflow-x: hidden;

		flex-grow: 1;

		@media screen and (max-width: em(1200)) {
			border-radius: rem(10);
		}
	}

	&__buttons {
		@extend %primary-circle-button;
	}

	&__add-button,
	&__remove-button {
		border: rem(4) solid #8a6500;
	}
}
