:root {
	--bg-color: #e2e2e2;
	--element-color: #ffffff;
	--element-hover-color: #c1c1c1;
	--element-active-color: #8f8f8f;
	--element-disabled-color: #a6a6a6;
	--text-color: #000000;
	--disabled-text-color: #d3d3d3;
	--shadow-color: #000000;

	--primary-color: #ffbb00;
	--primary-hover-color: #dca100;
	--primary-active-color: #ffcc40;
	--primary-disabled-color: #ffeaaf;

	@media (prefers-color-scheme: dark) {
		--bg-color: #000000;
		--element-color: #242424;
		--element-hover-color: #4b4b4b;
		--element-active-color: #747474;
		--element-disabled-color: #a6a6a6;
		--text-color: #ffffff;
		--disabled-text-color: #d3d3d3;
		--shadow-color: #ffffff;
	}
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
