@use './styles/reset';
@use './styles/general';
@use './styles/fonts';

:root {
	--bg-color: #e2e2e2;
	--element-color: #ffffff;
	--context-menu-bg-color: #acacac;
	--element-hover-color: #c1c1c1;
	--element-active-color: #8f8f8f;
	--element-disabled-color: #a6a6a6;
	--text-color: #000000;
	--text-disabled-color: #d3d3d3;
	--shadow-color: #000000;

	--primary-color: #ffbb00;
	--primary-hover-color: #dca100;
	--primary-active-color: #ffcc40;
	--primary-disabled-color: #ffeaaf;

	--transition-duration: 0.2s;

	@media (prefers-color-scheme: dark) {
		--bg-color: #000000;
		--element-color: #242424;
		--context-menu-bg-color: #b1b1b1;
		--element-hover-color: #4b4b4b;
		--element-active-color: #747474;
		--element-disabled-color: #a6a6a6;
		--text-color: #ffffff;
		--text-disabled-color: #d3d3d3;
		--shadow-color: #ffffff;
	}
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-style: normal;

	background-color: var(--bg-color);
	color: var(--text-color);
}
