@use '../../styles/functions' as *;
@use '../../styles/general' as *;

.folders {
	position: relative;

	grid-column: content-start / content-end;

	height: 100%;
	overflow: hidden;

	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: rem(40);

	&__header {
		display: flex;
		align-items: center;
		column-gap: rem(40);

		@media screen and (max-width: em(1200)) {
			column-gap: rem(30);
		}

		@media screen and (max-width: em(1024)) {
			column-gap: rem(20);
		}

		@media screen and (max-width: em(768)) {
			column-gap: rem(10);
		}
	}

	&__title {
		flex-grow: 1;
		@extend %font-huge;
	}

	&__content {
		@extend %root-outlet-content;
	}

	&__sidebar {
		@extend %sidebar;
	}

	&__buttons {
		@extend %primary-circle-button;
	}

	&__add-button,
	&__remove-button {
		border: rem(4) solid #8a6500;
	}

	@media screen and (max-width: em(1200)) {
		row-gap: rem(30);
	}

	@media screen and (max-width: em(1024)) {
		height: calc(100vh - rem(60));
		height: calc(100dvh - rem(60));
		row-gap: rem(20);
	}

	@media screen and (max-width: em(768)) {
		height: calc(100vh - rem(40));
		height: calc(100dvh - rem(40));
		column-gap: rem(15);
	}

	@media screen and (max-width: em(480)) {
		height: calc(100vh - rem(30));
		height: calc(100dvh - rem(30));
	}
}
